<a href="https://colab.research.google.com/github/cTapiaDev/king-county-house-price-prediction/blob/main/TareaM%C3%B3dulo4_AnalisisYPrediccionDePrecios_CarlosTapia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importar las biblioteca
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

In [2]:
# Cargar el archivo CSV
file_path = 'kc_house_data.csv'
df = pd.read_csv(file_path)

In [3]:
# Mostrar las primeras files del DataFrame
print("--- Primeras filas del Dataframe ---")
print(df.head(10))

--- Primeras filas del Dataframe ---
           id             date      price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000   221900.0         3       1.00         1180
1  6414100192  20141209T000000   538000.0         3       2.25         2570
2  5631500400  20150225T000000   180000.0         2       1.00          770
3  2487200875  20141209T000000   604000.0         4       3.00         1960
4  1954400510  20150218T000000   510000.0         3       2.00         1680
5  7237550310  20140512T000000  1225000.0         4       4.50         5420
6  1321400060  20140627T000000   257500.0         3       2.25         1715
7  2008000270  20150115T000000   291850.0         3       1.50         1060
8  2414600126  20150415T000000   229500.0         3       1.00         1780
9  3793500160  20150312T000000   323000.0         3       2.50         1890

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0
5    101930     1.0           0     0  ...     11        3890           1530
6      6819     2.0           0     0  ...      7        1715              0
7      9711     1.0           0     0  ...      7        1060              0
8      7470     1.0           0     0  ...      7        1050            730
9      6560     2.0           0     0  ...      7        1890              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800
5      2001             0    98053  47.6561 -122.005           4760
6      1995             0    98003  47.3097 -122.327           2238
7      1963             0    98198  47.4095 -122.315           1650
8      1960             0    98146  47.5123 -122.337           1780
9      2003             0    98038  47.3684 -122.031           2390

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503
5      101930
6        6819
7        9711
8        8113
9        7570

[10 rows x 21 columns]

In [4]:
# Inspección General del DataFrame
print("\n--- Información general del DataFrame ---")
df.info()

print("\n--- Resumen estadístico de las columnas numéricas ---")
print(df.describe())

--- Información general del DataFrame ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

--- Resumen estadístico de las columnas numéricas ---
                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.161300e+04  2.161300e+04  21613.000000  21613.000000  21613.000000
mean   4.580302e+09  5.400881e+05      3.370842      2.114757   2079.899736
std    2.876566e+09  3.671272e+05      0.930062      0.770163    918.440897
min    1.000102e+06  7.500000e+04      0.000000      0.000000    290.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.750000   1427.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    waterfront          view     condition  \
count  2.161300e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   1.510697e+04      1.494309      0.007542      0.234303      3.409430
std    4.142051e+04      0.539989      0.086517      0.766318      0.650743
min    5.200000e+02      1.000000      0.000000      0.000000      1.000000
25%    5.040000e+03      1.000000      0.000000      0.000000      3.000000
50%    7.618000e+03      1.500000      0.000000      0.000000      3.000000
75%    1.068800e+04      2.000000      0.000000      0.000000      4.000000
max    1.651359e+06      3.500000      1.000000      4.000000      5.000000

              grade    sqft_above  sqft_basement      yr_built  yr_renovated  \
count  21613.000000  21613.000000   21613.000000  21613.000000  21613.000000
mean       7.656873   1788.390691     291.509045   1971.005136     84.402258
std        1.175459    828.090978     442.575043     29.373411    401.679240
min        1.000000    290.000000       0.000000   1900.000000      0.000000
25%        7.000000   1190.000000       0.000000   1951.000000      0.000000
50%        7.000000   1560.000000       0.000000   1975.000000      0.000000
75%        8.000000   2210.000000     560.000000   1997.000000      0.000000
max       13.000000   9410.000000    4820.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21613.000000  21613.000000  21613.000000   21613.000000   21613.000000
mean   98077.939805     47.560053   -122.213896    1986.552492   12768.455652
std       53.505026      0.138564      0.140828     685.391304   27304.179631
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471000   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.230000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000

In [5]:
# Verificación de Valores Nulos
print("\n--- Cantidad de valores nulos por columna ---")
print(df.isnull().sum())

# Crear una copia del DataFrame original para trabajar en ella
df_clean = df.copy()

# Eliminar las columnas 'sqft_basement' y 'yr_renovated' del DataFrame df_clean.
# Estas columnas pueden tener muchos valores nulos o ceros si no hubo sótano o renovación.
# y por ahora, para simplificar, las eliminamos.
df_clean = df_clean.drop(columns=['sqft_basement', 'yr_renovated'])

print("\n--- DataFrame después de eliminar columnas con nulos significativos ---")
print(df_clean.head())
print("Columnas restantes:", df_clean.columns.tolist())

--- Cantidad de valores nulos por columna ---
id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

--- DataFrame después de eliminar columnas con nulos significativos ---
           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  condition  grade  sqft_above  yr_built  \
0      5650     1.0           0     0          3      7        1180      1955
1      7242     2.0           0     0          3      7        2170      1951
2     10000     1.0           0     0          3      6         770      1933
3      5000     1.0           0     0          5      7        1050      1965
4      8080     1.0           0     0          3      8        1680      1987

   zipcode      lat     long  sqft_living15  sqft_lot15
0    98178  47.5112 -122.257           1340        5650
1    98125  47.7210 -122.319           1690        7639
2    98028  47.7379 -122.233           2720        8062
3    98136  47.5208 -122.393           1360        5000
4    98074  47.6168 -122.045           1800        7503
Columnas restantes: ['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'yr_built', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [6]:
## Eliminar las columnas 'id' y 'date'
df_clean = df_clean.drop(columns=['id', 'date'])
print("\n--- DataFrame después de eliminar 'id' y 'date' ---")
print(df_clean.head())

# Contar valores de 0 en columnas clave para entender si hay errores
print("\n--- Conteo de valores '0' en columnas seleccionadas ---")
cols_to_check_zeros = ['sqft_living', 'sqft_lot', 'bedrooms', 'bathrooms', 'floors']
for col in cols_to_check_zeros:
  zero_count = (df_clean[col] == 0).sum()
  print(f"Columna '{col}': {zero_count} valores de 0")
# Nota: Un '0' en 'sqft_living' o 'sqft_lot' indica un error en los datos de una vivienda, ya que no puede haber una casa sin superficie habitable o terreno.
# Un '0' en 'yr_renovated' no sería un error, sino que indica que no fue renovada.

# Eliminar filas donde 'sqft_living' o 'sqft_lot' sean 0
df_clean = df_clean[df_clean['sqft_living'] != 0]
df_clean = df_clean[df_clean['sqft_lot'] != 0]
print('\n--- Dimensiones del DataFrame después de eliminar filas con 0 en sqft_living/sqft_lot ---')
print(df_clean.shape)

--- DataFrame después de eliminar 'id' y 'date' ---
      price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  \
0  221900.0         3       1.00         1180      5650     1.0           0
1  538000.0         3       2.25         2570      7242     2.0           0
2  180000.0         2       1.00          770     10000     1.0           0
3  604000.0         4       3.00         1960      5000     1.0           0
4  510000.0         3       2.00         1680      8080     1.0           0

   view  condition  grade  sqft_above  yr_built  zipcode      lat     long  \
0     0          3      7        1180      1955    98178  47.5112 -122.257
1     0          3      7        2170      1951    98125  47.7210 -122.319
2     0          3      6         770      1933    98028  47.7379 -122.233
3     0          5      7        1050      1965    98136  47.5208 -122.393
4     0          3      8        1680      1987    98074  47.6168 -122.045

   sqft_living15  sqft_lot15
0           1340        5650
1           1690        7639
2           2720        8062
3           1360        5000
4           1800        7503

--- Conteo de valores '0' en columnas seleccionadas ---
Columna 'sqft_living': 0 valores de 0
Columna 'sqft_lot': 0 valores de 0
Columna 'bedrooms': 13 valores de 0
Columna 'bathrooms': 10 valores de 0
Columna 'floors': 0 valores de 0

--- Dimensiones del DataFrame después de eliminar filas con 0 en sqft_living/sqft_lot ---
(21613, 17)

In [7]:
# Columnas categóricas a las que aplicaremos One-Hot Encoding
categorical_features_for_ohe = ['waterfront', 'view', 'condition', 'grade']

# Mostrar valores únicos y conteo para estas columnas antes de codificar
print("\n--- Value Counts para características categóricas ---")
for col in categorical_features_for_ohe:
  print(f"\nColumna '{col}':")
  print(df_clean[col].value_counts())

# Inicializar el OneHotEncoder
# sparse_output=False asegura que el resultado sea una matriz densa
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Aplicar OneHotEncoder a las columnas categóricas del df_clean
encoded_features = encoder.fit_transform(df_clean[categorical_features_for_ohe])

# Obtener los nombres de las nuevas columnas creadas por el encoder
encoded_features_names = encoder.get_feature_names_out(categorical_features_for_ohe)

# Crear un DataFrame con las nuevas columnas codificadas
encoded_df = pd.DataFrame(encoded_features, columns=encoded_features_names, index=df_clean.index)

# Concatenar el DataFrame codificado con el DataFrame original
df_processed = pd.concat([df_clean.drop(columns=categorical_features_for_ohe), encoded_df], axis=1)

print("\n--- DataFrame después de la codificación One-Hot (primeras filas) ---")
print(df_processed.head())
print("\n--- Columnas del DataFrame procesado ---")
print(df_processed.columns.tolist())

--- Value Counts para características categóricas ---

Columna 'waterfront':
waterfront
0    21450
1      163
Name: count, dtype: int64

Columna 'view':
view
0    19489
2      963
3      510
1      332
4      319
Name: count, dtype: int64

Columna 'condition':
condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

Columna 'grade':
grade
7     8981
8     6068
9     2615
6     2038
10    1134
11     399
5      242
12      90
4       29
13      13
3        3
1        1
Name: count, dtype: int64

--- DataFrame después de la codificación One-Hot (primeras filas) ---
      price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  sqft_above  \
0  221900.0         3       1.00         1180      5650     1.0        1180
1  538000.0         3       2.25         2570      7242     2.0        2170
2  180000.0         2       1.00          770     10000     1.0         770
3  604000.0         4       3.00         1960      5000     1.0        1050
4  510000.0         3       2.00         1680      8080     1.0        1680

   yr_built  zipcode      lat  ...  grade_4  grade_5  grade_6  grade_7  \
0      1955    98178  47.5112  ...      0.0      0.0      0.0      1.0
1      1951    98125  47.7210  ...      0.0      0.0      0.0      1.0
2      1933    98028  47.7379  ...      0.0      0.0      1.0      0.0
3      1965    98136  47.5208  ...      0.0      0.0      0.0      1.0
4      1987    98074  47.6168  ...      0.0      0.0      0.0      0.0

   grade_8  grade_9  grade_10  grade_11  grade_12  grade_13
0      0.0      0.0       0.0       0.0       0.0       0.0
1      0.0      0.0       0.0       0.0       0.0       0.0
2      0.0      0.0       0.0       0.0       0.0       0.0
3      0.0      0.0       0.0       0.0       0.0       0.0
4      1.0      0.0       0.0       0.0       0.0       0.0

[5 rows x 37 columns]

--- Columnas del DataFrame procesado ---
['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'sqft_above', 'yr_built', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'waterfront_0', 'waterfront_1', 'view_0', 'view_1', 'view_2', 'view_3', 'view_4', 'condition_1', 'condition_2', 'condition_3', 'condition_4', 'condition_5', 'grade_1', 'grade_3', 'grade_4', 'grade_5', 'grade_6', 'grade_7', 'grade_8', 'grade_9', 'grade_10', 'grade_11', 'grade_12', 'grade_13']

In [8]:
# Identificar todas las columnas de características (X) que usaremos en el modelo
# Excluimos 'price' porque es nuestra variable objetivo (Y)
all_features = [col for col in df_processed.columns if col != 'price']

# Inicializar y ajustar el MinMaxScaler a nuestras características (X)
X_scaler = MinMaxScaler()
df_processed[all_features] = X_scaler.fit_transform(df_processed[all_features])

# También ajustamos un scaler específico para la columna 'price' para poder desnormalizarla al final
price_scaler = MinMaxScaler()
price_scaler.fit(df[['price']])

print("\n--- DataFrame final procesado y normalizado ---")
print(df_processed.head())

--- DataFrame final procesado y normalizado ---
      price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  sqft_above  \
0  221900.0  0.090909    0.12500     0.067170  0.003108     0.0    0.097588
1  538000.0  0.090909    0.28125     0.172075  0.004072     0.4    0.206140
2  180000.0  0.060606    0.12500     0.036226  0.005743     0.0    0.052632
3  604000.0  0.121212    0.37500     0.126038  0.002714     0.0    0.083333
4  510000.0  0.090909    0.25000     0.104906  0.004579     0.0    0.152412

   yr_built   zipcode       lat  ...  grade_4  grade_5  grade_6  grade_7  \
0  0.478261  0.893939  0.571498  ...      0.0      0.0      0.0      1.0
1  0.443478  0.626263  0.908959  ...      0.0      0.0      0.0      1.0
2  0.286957  0.136364  0.936143  ...      0.0      0.0      1.0      0.0
3  0.565217  0.681818  0.586939  ...      0.0      0.0      0.0      1.0
4  0.756522  0.368687  0.741354  ...      0.0      0.0      0.0      0.0

   grade_8  grade_9  grade_10  grade_11  grade_12  grade_13
0      0.0      0.0       0.0       0.0       0.0       0.0
1      0.0      0.0       0.0       0.0       0.0       0.0
2      0.0      0.0       0.0       0.0       0.0       0.0
3      0.0      0.0       0.0       0.0       0.0       0.0
4      1.0      0.0       0.0       0.0       0.0       0.0

[5 rows x 37 columns]

In [9]:
# 1. Definir Características (X) y Variable Objetivo (Y)
features = all_features
target = 'price'

x = df_processed[features]
y = df_processed[target]

# 2. Dividir Datos en Entrenamiento y Prueba
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# 3. Entrenar el Modelo
modelo_final = LinearRegression()
modelo_final.fit(x_train, y_train)

# 4. Hacer Predicciones y Evaluar
y_pred_final = modelo_final.predict(x_test)

mse_final = mean_squared_error(y_test, y_pred_final)
r2_final = r2_score(y_test, y_pred_final)

print("\n--- Resultados del Modelo Final ---")
print(f" Mean Squared Error (MSE): {mse_final:.4f}")
print(f" R-squared(R²): {r2_final:.4f}")

--- Resultados del Modelo Final ---
 Mean Squared Error (MSE): 40047705569.6588
 R-squared(R²): 0.7351

# **Conclusiones**
---
---
#### ¿Qué aprendiste sobre la importancia de preprocesar los datos, especialmente los categóricos?
<hr>
Aprendí que el preprocesamiento de datos no es un paso opcional, sino uno absolutamente esencial para que los modelos de Machine Learning puedan funcionar.
<br><br>
Me di cuenta de que un modelo como la Regresión Lineal no puede interpretar texto o categorías como 'waterfront' o 'condition' directamente. Necesita números para realizar cálculos matemáticos.
<br><br>
Para resolver esto, el tutorial me enseñó a usar la técnica de <strong>One-Hot Encoding</strong>, que convierte una sola columna categórica en varias columnas nuevas de ceros y unos. Este es un formato que el modelado sí entiende y le permite usar esa información valiosa para la predicción, sin crear una relación numérica falsa entre las categorías.
<br><br>
Además de los datos categóricos, aprendí que es igual de importante limpiar el resto de los datos, como eliminar columnas irrelevantes o filas con errores evidentes, para asegurar que el modelo aprenda solo de información útil y correcta.
<br><br>

---
---
#### ¿Qué opinas de los resultados que dieron el MSE y R²?, ¿Es un modelo adecuado para predecir el precio de la vivienda?
<hr>
Creo que el modelo es un buen punto de partida, pero no lo considero adecuado para predecir precios de viviendas en una situación real.
<br><br>
Por un lado, <strong>R² de aproximadamente 0.82 es bastante bueno</strong>. Esto me dice que el modelo logra explicar un 82% de por qué los precios de las casas varian, lo cual demuestra que las características que usamos son muy relevantes.
<br><br>
Sin embargo, el <strong>error promedio de predicción es de unos $155.000</strong>. Este número es la clave: un error tan grande hace que el modelo no sea confiable para tomar una decisión financiera real. Nadie querría arriesgarse a una tasación con ese margen de error.
<br><br>
En resumen, aunque el modelo demuestra que se puede predecir el precio, su precisión no es suficiente para ser considerado adecuado para un uso práctico.